* {
    color: white;
    background-color: black;
    font-family: "Times New Roman", sans-serif
}

p {
    text-align: center
}

.title,
.photo {
    text-align: center
}

.description {
    font-weight: bold
}